* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

main {
    background-color: #763ddf;
    width: 100%;
    height: 100vh;
    padding: 0 20px 20px 20px;
    position: relative;
    overflow: hidden;
}



.header {
    width: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: #fff;
}

.header_logo {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    width: 33%;
    justify-content: flex-start;
}

.header_title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: 33%;
    text-align: center;
}

.header_profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 33%;
}

.header_profile__left___img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #763ddf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    border-radius: 40px 40px 0 0;
    z-index: 99999999999;
}

.footerLeft {
    position: absolute;
    width: 50px;
    height: 120px;
    left: -50px;
    bottom: 0;
    background: url("../refs/left.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}


.footerRight {
    position: absolute;
    width: 50px;
    height: 120px;
    right: -50px;
    bottom: 0;
    background: url("../refs/right.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}

.menuItem {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translate(0, 5px);
    opacity: 0.5;
    position: relative;
}

.menuItem img {
    width: 50%;
}

.menuItem:hover,
.activeMenuItem {
    transform: translate(0, -3px);
    opacity: 1;
}

.menuItem_title {
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    bottom: -30px;
    text-align: center;
    z-index: 0;
    transform: translate(0px, 50px);
    width: 105px;
    text-transform: uppercase;
}

.menuItem:hover .menuItem_title {
    opacity: 1;
    transform: translate(0px, 0);
}

.activeMenuItem .menuItem_title {
    opacity: 1;
    transform: translate(0px, 0);
}

::-webkit-scrollbar {
    display: none;
}


.infoBlock {
    background-color: #fff;
    width: 100%;
    height: calc(100% - 100px);
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
}

.infoBlock__mainSlider {
    width: 100%;
    height: 100%;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    left: auto;
    right: 0;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.slideText_title {
    background-color: #763ddf;
    padding: 20px 40px;
    border-radius: 60px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}

.banner {
    width: 100%;
    height: 80%;
    padding: 20px;
}

.banner_info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(106, 38, 233, 0.849);
    border-radius: 20px;
}

.banner_info__left {
    width: 60%;
    height: 100%;
    color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.banner_info__right {
    width: 40%;
    height: 100%;
}

.banner_info__right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_info__left___title {
    font-size: 62px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner_info__left___subDesc {
    font-size: 32px;
    font-weight: 600;
}

.banner_info__left___desc {
    font-size: 24px;
}

.banner_info__left___button {
    color: #763ddf;
    font-size: 24px;
    background-color: #fff;
    width: 450px;
    padding: 25px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 60px;
}

.title {
    width: 100%;
    margin: 40px 0;
    font-size: 52px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #763ddf;
}

.showMore {
    margin: 40px 0;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #763ddf;
    margin: 20px auto;
    padding: 20px 40px;
    border-radius: 60px;
}

.showMore:last-child {
    margin-bottom: 120px;
}

.news {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 22px;
}

.news_item {
    width: 440px;
    background-color: rgba(106, 38, 233, 0.849);
    border-radius: 20px;
    overflow: hidden;
}

.news_item__img {
    width: 100%;
    height: 300px;
}

.news_item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news_item__bottom {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news_item__bottom___date {
    font-size: 16px;
    color: #fff;
}

.news_item__bottom___title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}


.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.projects_item {
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
    background-color: rgba(106, 38, 233, 0.849);
}

.projects_item__left {
    display: flex;
    flex-direction: column;
}

.projects_item__right__img {
    width: 100%;
    height: 100%;
}

.projects_item__right__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.projects_item__left {
    padding: 30px;
    width: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects_item__right {
    width: 40%;
    padding: 30px;
}

.projects_item__left___title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}

.projects_item__left___desc {
    font-size: 16px;
}

.tab1,
.tab2,
.tab3,
.tab4,
.tab5,
.tab6 {
    display: none;
}

.tab1{
    display: flex;
}